:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/font/Poppins-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/font/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/font/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', serif;
    background: var(--color-very-light-gray);
}

.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

img {
    display: block;
    width: 4em;
}

header {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 1.5em;
}

h1 {
    font-weight: 200;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.7rem;
    padding-block: 0.3em;
    font-weight: 600;
    color: var(--color-very-dark-blue);
}

h3 {
    color: var(--color-very-dark-blue);
}

p {
    color: var(--color-grayish-blue);
}

main {
    padding-block: 2.5em;
}

.section__content {
    box-shadow: 5px 5px 20px hsl(234, 12%, 34%, 0.3);
    border-radius: 0.5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: hsl(0, 0%, 100%);
}

.section__content--head {
    font-size: 1.5rem;
}

.section__content--image {
    align-self: flex-end;
}

.section__content + .section__content{
    margin-top: 2.5em;
}

.supervisor {
    border-top: 5px solid var(--color-cyan);
}

.team {
    border-top: 5px solid var(--color-red);
}

.karma {
    border-top: 5px solid var(--color-orange);
}

.calculator {
    border-top: 5px solid var(--color-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 1em;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 766px){
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5em;
    }

    .section__content {
        padding-inline: 2em;
    }

    .section__content--image {
        padding-block: 1em;
    }

    .section__content + .section__content {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". team ."
        "supervisor team calculator"
        "supervisor karma calculator"
        ". karma .";
    }

    .supervisor {
        grid-area: supervisor;
    }

    .team {
        grid-area: team;
    }

    .karma {
        grid-area: karma;
    }

    .calculator {
        grid-area: calculator;
    }

    header{
        display: grid;
    }

    header > p {
        width: 45%;
        justify-self: center;
    }
}